<!--footer start-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-col">
          <h3 class="widget-title">About Piple</h3> 
          <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
          </p>
          <a href="#" class="btn btn-lg btn-white-border">View Portfolio</a>
        </div><!--footer col-->
        <div class="space-40"></div>
        <div class="footer-col">
          <h3 class="widget-title">Elsewhere</h3> 
          <ul class="list-inline social-1">
            <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Like on facebook" data-placement="top"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Follow on twitter" data-placement="top"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Join ongoogle-plus" data-placement="top"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Subscribe to pinterest" data-placement="top"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="View on dribbble" data-placement="top"></i></a></li>
          </ul>
        </div>
      </div><!--footer col-->
      <div class="col-md-4">
        <div class="footer-col">
          <h3 class="widget-title">Recent Tweets</h3> 
          <ul class="list-unstyled recent-tweets">
            <li>
              <span>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                <a href="#">@Piple</a>
              </span>
              <a href="#"><i class="fa fa-twitter"></i> 50 minuts ago</a>
            </li>
            <li>
              <span>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                <a href="#">@Piple</a>
              </span>
              <a href="#"><i class="fa fa-twitter"></i> 50 minuts ago</a>
            </li>
          </ul>
        </div><!--footer col-->
      </div><!--footer col-->
      <div class="col-md-4">
        <div class="footer-col">
          <h3 class="widget-title">Recent Post</h3> 
          <ul class="list-unstyled recent-post">
            <li><a href="#">Lorem ipsum dollor sit amet simply dummy text of industry.</a><br>
              <em>10 oct 2014.</em>
            </li>
            <li><a href="#">Lorem ipsum dollor sit amet simply dummy text of industry.</a><br>
              <em>10 oct 2014.</em>
            </li>
            <li><a href="#">Lorem ipsum dollor sit amet simply dummy text of industry.</a><br>
              <em>10 oct 2014.</em>
            </li>
          </ul>
        </div><!--footer col-->

      </div><!--footer col-->
    </div>
  </div>
</footer><!--footer main-->
<footer id="footer-bottom">
  <div class="footer-nav">
    <div class="container">
      <ul class="list-inline f-menu-items">
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
      <div class="footer-privacy-text">
        Copyright &copy; 2014 <a href="#">Piple</a>
      </div>
    </div>
  </div>
</footer>
