<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Piple</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav scrollto">
        <li>
          <a href="index.html">Home </a>

        </li>
        <li><a href="#portfolio">Work</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about.html">About Us</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="pricing.html">Pricing</a></li>

            <li class="menu-item dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog Right Sidebar</a></li>
                <li><a href="blog-leftbar.html">Blog  Left Sidebar</a></li>
                <li><a href="blog-full.html">Blog Full Width</a></li>
                <li><a href="blog-leftimg.html">Blog Left Image</a></li>
                <li><a href="blog-2col.html">Blog 2 Columns</a></li>
                <li><a href="blog-3col.html">Blog 3 Columns</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Features <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"> 
            <li class="menu-item dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-2.html">Portfolio 2 Column</a></li>
                <li><a href="portfolio-3.html">Portfolio 3 Column</a></li>
                <li><a href="portfolio-4.html">Portfolio 4 Column</a></li>
                <li><a href="portfolio-full.html">Portfolio Full Width</a></li>
                <li><a href="portfolio-single.html">Portfolio Single</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes</a>
              <ul class="dropdown-menu">
                <li><a href="typography.html">Typography</a></li>
                <li><a href="elements.html">Elements</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Miscellaneous</a>
              <ul class="dropdown-menu">
                <li><a href="default.html">Default</a></li>
                <li><a href="leftbar.html">Left Sidebar</a></li>
                <li><a href="full-width.html">No Sidebar</a></li>

                <li><a href="error.html">Error Page</a></li>
                <li><a href="blank.html">Blank Page</a></li>


              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</header>
