<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Hacker School</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav scrollto">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Programas<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about.html">The 101 Program</a></li>
            <li><a href="team.html">The Web Developer</a></li>
            <li><a href="pricing.html">The Front-End Engineer</a></li>
            <li><a href="contact.html">The Data Scientist</a></li>
          </ul>
        </li>
        <li><a href="#students">Estudiantes</a></li>
        <li><a href="#mentors">Mentores</a></li>
        <li><a href="https://medium.com/hacker-school-monterrey">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</header>
