<section id="banner" class="banner-wrap parallax" data-stellar-background-ratio="0.5">
  <div class="home-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="main-flex-slider">
            <ul class="slides">
              <li>
                <h1>We are <span class="colored-text">Creative</span></h1>
              </li>
              <li>
                <h1>We create  <span class="colored-text">Projects</span></h1>
              </li>
              <li>
                <h1>Responsive <span class="colored-text">Designs</span></h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
