<section id="banner" class="banner-wrap parallax" data-stellar-background-ratio="0.5">
  <div class="home-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="main-flex-slider">
            <h1>Lorem ipsum<span class="colored-text">lorem</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro-text" class="segment intro-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="wow animated fadeInDown">En <span class="colored-text"><strong>Hacker School</strong></span> podras: </h2>
      </div>
    </div>

    <div class="space-40"></div>

    <div class="row">
      <div class="col-md-4 ">
        <div class="service-box wow animated fadeInLeft">
          <i class="fa fa-image"></i>
          <h4>Iniciar tu carrera</h4>
          <p>
          Si vienes de otra profesión, terminando la preparatoria o en proceso de concluir tu carrera profesional, inicia aquí tu carrera como developer.
          </p>
          <a class="btn btn-theme-bg btn-sm wow" href="/newbie">The 101 program<span aria-hidden="true" class="typcn typcn-chevron-right"></a>
        </div>
      </div><!--service col end-->
      <div class="col-md-4 ">
        <div class="service-box wow animated fadeInLeft">
          <i class="fa fa-lightbulb-o"></i>
          <h4>Crecer como developer</h4>
          <p>
          Queremos profesionalizar el trabajo de desarrollo de software. Si llevas algún tiempo haciéndolo y quieres acelerar tu crecimiento técnico, podemos ayudar.
          </p>
          <a class="btn btn-theme-bg btn-sm wow" href="#program">Explora los programas <span aria-hidden="true" class="typcn typcn-chevron-right"></a>
        </div>
      </div><!--service col end-->
      <div class="col-md-4">
        <div class="service-box wow animated fadeInLeft">
          <i class="fa fa-code"></i>
          <h4>Mentorear</h4>
          <p>
          Únete a nuestra red de mentores y formar parte de un nuevo movimiento por mejorar la calidad del desarrollo de software en México.
          </p>
          <a class="btn btn-theme-bg btn-sm wow" href="/mentor">Aplicar<span aria-hidden="true" class="typcn typcn-chevron-right"></a>
        </div>
      </div><!--service col end-->
    </div><!--service row-->

  </div>
</section>

<section id="portfolio" class="segment services-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <div class="main-heading">
            <span>Nuestros programas</span>
          </div>
          <div class="sub-heading">
            <h3 class="sub-title">
              Conoce nuestros <strong>programas</strong>
            </h3>
            <p>
            We simply want to make sure your brand is getting the nourishment it needs and that my service is providing the best bang for your buck. Aliquam lorem ante, dapibus in. A vel lacus sagittis amet odio sociis lorem nascetur, arcu sit proin a vel porttitor risus a lundium lundium elementum habitasse.
            </p>
          </div>
        </div><!--heading-->
      </div>
    </div><!--heading row end-->
    <div class="row">
      <div class="col-sm-6 program-box wow fadeInDown">
        <div class="pricing-box-inner">
          <h3>Newbies - The 101 program</h3>
          <div class="pricing-box-features">
            <ul>
              <li>Inicia aquí con los fundamentos de programación y construir software.</li>
              <li><b>Key skills</b>: Lógica, Lenguajes, Estructuras de datos, OOP, Terminal, Git</li>
              <li>Próxima fecha: 12 de septiembre</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-2" href="/newbies">Ver programa <span aria-hidden="true" class="typcn typcn-arrow-right-thick"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 program-box wow fadeInDown">
        <div class="pricing-box-inner">
          <h3>The Web Developer</h3>
          <div class="pricing-box-features">
            <ul>
              <li>Aprende a desarrollar aplicaciones web usando Ruby y Rails.</li>
              <li><b>Key skills</b>: Ruby, Rails, Testing, RESTful APIs, Databases, Design Patterns</li>
              <li>Próxima fecha: 12 de septiembre</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-2" href="/backend">Ver programa <span aria-hidden="true" class="typcn typcn-arrow-right-thick"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 program-box wow fadeInUp">
        <div class="pricing-box-inner">
          <h3>The Front-End Engineer</h3>
          <div class="pricing-box-features">
            <ul>
              <li>Construye el User Interface (UI) de aplicaciones web interactivas.</li>
              <li><b>Key skills</b>: HTML5, Sass, JavaScript, ReactJS, APIs, Web sockets.</li>
              <li>Próxima fecha: 12 de septiembre</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-2" href="/frontend">Ver programa <span aria-hidden="true" class="typcn typcn-arrow-right-thick"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 program-box wow fadeInUp">
        <div class="pricing-box-inner">
          <h3>The Data Scientist</h3>
          <div class="pricing-box-features">
            <ul>
              <li>Analiza, interpreta y comunica con datos utilizando Python.</li>
              <li><b>Key skills</b>: Python, Pandas, Jupyter, Estadística, Machine Learning, Dataviz.</li>
              <li>Próxima fecha: 12 de septiembre</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-2" href="/data">Ver programa <span aria-hidden="true" class="typcn typcn-arrow-right-thick"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="segment intro-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 always-beautiful section-description wow fadeIn">
        <h2 class="wow animated fadeInDown"><span class="colored-text"><strong>Hacker School</strong></span> Monterrey</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 always-beautiful-box wow fadeInLeft">
        <div class="always-beautiful-box-text always-beautiful-box-text-left">
          <h3>¿Qué es?</h3>
          <p class="medium-paragraph">
          Hacker School Monterrey es una escuela que busca profesionalizar a desarrolladores de
          software. Te ayudamos a aprender de la construcción de aplicaciones web modernas.
          </p>
          <p class="medium-paragraph">
          Escribirás código la mayoría del tiempo, construirás proyectos, contribuirás al open source, y trabajarás
          con agilidad, junto a personas que buscan convertirse en hackers profesionales como tú.
          </p>
          </p>
        </div>
      </div>
      <div class="col-sm-6 always-beautiful-box wow fadeInLeft">
        <div class="always-beautiful-box-text always-beautiful-box-text-left">
          <h3>Nuestra motivación</h3>
          <p class="medium-paragraph">
          Las formas de desarrollar software han cambiado. Pero su educación no.
          Buscamos entrenar desarrolladores técnicamente capaces, con seguridad de usar sus habilidades y creatividad
          para construir productos tecnológicos de impacto por su propia cuenta y/o en equipo, en una escuela
          que pueda moverse al ritmo de su misma comunidad, con personas que hacen esto todos los días.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="counters">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 margin-btm-20">
        <div class="fact-col">
          <span class="counter">7809</span>
          <h4>Cups of Coffee</h4>
        </div>
      </div>
      <div class="col-sm-3 margin-btm-20">
        <div class="fact-col">
          <span class="counter">5897</span>
          <h4>Lines of code</h4>
        </div>
      </div>
      <div class="col-sm-3 margin-btm-20">
        <div class="fact-col">
          <span class="counter">4345</span>
          <h4>Projects Launch</h4>
        </div>
      </div>
      <div class="col-sm-3 margin-btm-20">
        <div class="fact-col">
          <span class="counter">4</span>
          <h4>Worldwide Office</h4>
        </div>
      </div>
    </div>
  </div>
</div><!--counters-->

<section id="team" class="segment ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <div class="main-heading">
            <span>Our team</span>
            <span class=" right-btn"><a href="#">All Members</a></span>  
          </div>
          <div class="sub-heading">
            <h3 class="sub-title">
              A <strong>Dedicated Team</strong> who can make great things
            </h3>
            <p>
            We simply want to make sure your brand is getting the nourishment it needs and that my service is providing the best bang for your buck. Aliquam lorem ante, dapibus in. A vel lacus sagittis amet odio sociis lorem nascetur, arcu sit proin a vel porttitor risus a lundium lundium elementum habitasse.
            </p>
          </div>
        </div><!--heading-->
      </div>
    </div><!--heading row end-->

    <div class="row">
      <div class="col-md-4 margin-btm-20">
        <div class="person-wrap">
          <img src="http://placehold.it/360x240" class="img-responsive" alt="">
          <div class="person-desc">
            <h3>mary jane</h3>
            <em>Founder</em>
            <ul class="list-inline team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-btm-20">
        <div class="person-wrap">
          <img src="http://placehold.it/360x240" class="img-responsive" alt="">
          <div class="person-desc">
            <h3>John</h3>
            <em>Developer</em>
            <ul class="list-inline team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-btm-20">
        <div class="person-wrap">
          <img src="http://placehold.it/360x240" class="img-responsive" alt="">
          <div class="person-desc">
            <h3>maria</h3>
            <em>Designer</em>
            <ul class="list-inline team-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- work-->

<section id="testimonials" class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 ">
        <div id="testi-carousel" class="owl-carousel owl-spaced testi-feed">
          <div>

            <p>
            <img src="http://placehold.it/128x128" class="img-responsive customer-img" alt="">
            "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."
            <span>-David, co-founder, example.com</span>
            </p>

          </div><!--testimonials item like paragraph-->
          <div>

            <p>
            <img src="http://placehold.it/128x128" class="img-responsive customer-img" alt="">
            "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."
            <span>-John, co-founder, example.com</span>
            </p>

          </div><!--testimonials item like paragraph-->
          <div>

            <p>
            <img src="http://placehold.it/128x128" class="img-responsive customer-img" alt="">
            "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."
            <span>-Maria, co-founder, example.com</span>
            </p>

          </div><!--testimonials item like paragraph-->
        </div>
      </div>
    </div>
  </div>
</section><!--testimonials-->
