<section id="banner" class="banner-wrap parallax" data-stellar-background-ratio="0.5">
  <div class="home-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="main-flex-slider">
            <h1>Lorem ipsum<span class="colored-text">lorem</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
